* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: "Lexend Deca", "PT sans", "Open Sans", sans-serif;
  background-color: #ced4da;
  margin: 0;
}

a {
  text-decoration: none;
  color: #423a37;
}

/*START OF HEADER*/

header {
  background-color: #fff;
}
.nav-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1em;
  width: 80%;
  margin: 0 auto;
  background-color: #fff;
}
.nav {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

.nav__list {
  display: flex;
  text-transform: uppercase;
  list-style: none;
  margin: 0;
  padding: 0;
  font-size: 20px;
}

.nav__link {
  color: black;
}
.nav__link:hover {
  color: #a4161a;
}

.nav__item + .nav__item {
  margin-left: 1em;
}

.logo {
  max-width: 25%;
}

/* DEGREES */

section {
  background-color: #457b9d;
}

.container {
  width: 85%;
  max-width: 65em;
  margin: 0 auto;
  text-align: center;
  padding: 2em 0;
}

.about-category {
  padding: 1.5em;
  margin: 1em;
  background-color: #eee;
  border-radius: 1em;
}

.primary-title {
  font-size: 4rem;
  font-size: clamp(3rem, calc(5vw + 1rem), 4.5rem);
  line-height: 1;
  padding: 0.5em 0;
  text-transform: uppercase;
  color: white;
}

.section-title {
  font-size: clamp(2.5rem, calc(5vw + 1rem), 3rem);
  line-height: 1;
}

.degrees {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0.5em 0;
  font-size: 1.125rem;
}

.about-general {
  color: #ffffff;
}
button {
  cursor: pointer;
  outline: none;
  border: none;
  background-color: #457b9d;
  width: 200px;
  height: 40px;
  border-radius: 30px;
  font-size: 1rem;
  color: #ffffff;
  box-shadow: 0 0 0 7px var(--light) inset;
}
button:hover {
  background-color: #e63946;
}
